<a href="https://colab.research.google.com/github/OlegSoluyanov/OlegSoluyanov/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**ПРЕОБРАЗОВАНИЕ СМЕШАННЫХ ФОРМАТОВ ДАТЫ В ЕДИНЫЙ в excel файле**

In [248]:
# Импорт необходимой библиотеки
import numpy as np
import pandas as pd
from google.colab import files

In [249]:
# Чтение excel файла, с указанием листа
df = pd.read_excel('https://drive.google.com/uc?export=download&id=1mJ6zjugYehZzB9W4yNmTLP6ErLvW76ck', sheet_name='Data Practice')

In [250]:
# Чтение первых 10 строк
df.head(10)

  JE Code      Store    Country  ... List Price Actual Price Discount %
0  I-1001     Moscow     Russia  ...         80           79     0.0125
1  I-1002    Toronto     Canada  ...         80           54     0.3250
2  I-1003  Sao Paolo     Brazil  ...        700          686     0.0200
3  I-1004   Istanbul     Turkey  ...        150          137     0.0867
4  I-1005     Sydney  Australia  ...         50           37     0.2600
5  I-1006   Shenzhen      China  ...         30           29     0.0333
6  I-1007       Lima       Peru  ...        500          465     0.0700
7  I-1008    Tijuana     Mexico  ...         30           28     0.0667
8  I-1009     London         UK  ...        800          760     0.0500
9  I-1010       Lima       Peru  ...         30           28     0.0667

[10 rows x 10 columns]

В файле разный формат даты по строкам и отсутствие значений региона NA, pandas заменил NA знчениями NaN

In [251]:
# Контроль типов данных
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2339 entries, 0 to 2338
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   JE Code       2339 non-null   object
 1   Store         2339 non-null   object
 2   Country       2339 non-null   object
 3   Region        1946 non-null   object
 4   Date          2339 non-null   object
 5   Item          2339 non-null   object
 6   Salesperson   2339 non-null   object
 7   List Price    2339 non-null   int64
 8   Actual Price  2339 non-null   int64
 9   Discount %    2339 non-null   float64
dtypes: float64(1), int64(2), object(7)
memory usage: 182.9+ KB

Столбец с датами не только в разном формате но и в текстовом формате

In [252]:
# Замена null значений региона Северная Америка на NA
df['Region'].fillna('NA', inplace=True)
# Контроль типа datetime для столбца с датой
df['Date'] = df['Date'].astype('datetime64[D]')

In [253]:
# Итог
df.head()

  JE Code      Store    Country  ... List Price Actual Price Discount %
0  I-1001     Moscow     Russia  ...         80           79     0.0125
1  I-1002    Toronto     Canada  ...         80           54     0.3250
2  I-1003  Sao Paolo     Brazil  ...        700          686     0.0200
3  I-1004   Istanbul     Turkey  ...        150          137     0.0867
4  I-1005     Sydney  Australia  ...         50           37     0.2600

[5 rows x 10 columns]

In [254]:
# Контроль типа данных для даты
df.dtypes

JE Code                 object
Store                   object
Country                 object
Region                  object
Date            datetime64[ns]
Item                    object
Salesperson             object
List Price               int64
Actual Price             int64
Discount %             float64
dtype: object

In [255]:
# Запись измененного файла
df.to_excel('practice_data_v1.xlsx')

In [256]:
# Загрузка измененного файла на локальный диск
files.download('practice_data_v1.xlsx')

ИТОГ: Изначальные данные в разных текстовых форматах заменены на тип дата, который легко в excel конвертируется в любое удобное представление даты